body{
font-family:Times New Roman;
margin:0;
background:#f0f0f0;
}

.container{
display:flex;
gap:20px;
padding:20px;
}

.form-box{
width:30%;
background:white;
padding:20px;
border-radius:10px;
}

input{
width:100%;
padding:10px;
margin:6px 0;
}

button{
width:100%;
padding:12px;
margin-top:10px;
background:#005bbb;
color:white;
border:none;
cursor:pointer;
}

#cover{
width:70%;
background:white;
padding:50px;
min-height:1000px;
text-align:center;
}

#cover h1{
color:#1565c0;
font-size:32px;
margin-top:50px;
}

p{
font-size:28px;
text-align:left;
margin-left:80px;
}

table{
width:90%;
margin:auto;
margin-top:50px;
border-collapse:collapse;
font-size:24px;
}

th,td{
border:1px solid black;
padding:15px;
vertical-align:top;
text-align:left;
}

th{
text-align:center;
color:#1565c0;
}

.logo{
width:120px;
margin-top:80px;
}

.green{
color:green;
margin-top:20px;
}
